# Ignore the virtual environment
venv/
.venv/
env/

# Ignore python cache files
__pycache__/
*.pyc

# Ignore your data folder (medical images are too large for GitHub)
data/

# Ignore OS-specific files
.DS_Store
Thumbs.db